<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<servlet-name>Website</servlet-name>
		<servlet-class>com.Revature.servlet.Website</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>Websites</display-name>
		<servlet-name>Websites</servlet-name>
		<servlet-class>com.Revature.servlet.Websites</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ReimbursementForm</display-name>
		<servlet-name>ReimbursementForm</servlet-name>
		<servlet-class>com.Revature.servlet.ReimbursementForm</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Proj1Controller</display-name>
		<servlet-name>Proj1Controller</servlet-name>
		<servlet-class>com.Revature.servlet.Proj1Controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>WelcomePage</display-name>
		<servlet-name>WelcomePage</servlet-name>
		<servlet-class>com.Revature.servlet.WelcomePage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ValidateAccount</display-name>
		<servlet-name>ValidateAccount</servlet-name>
		<servlet-class>com.Revature.servlet.ValidateAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ValidatePopUp</display-name>
		<servlet-name>ValidatePopUp</servlet-name>
		<servlet-class>com.Revature.servlet.ValidatePopUp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PresentationPage</display-name>
		<servlet-name>PresentationPage</servlet-name>
		<servlet-class>com.Revature.servlet.PresentationPage</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PresentationForm</display-name>
		<servlet-name>PresentationForm</servlet-name>
		<servlet-class>com.Revature.servlet.PresentationForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Website</servlet-name>
		<url-pattern>/website</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Websites</servlet-name>
		<url-pattern>/Websites</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReimbursementForm</servlet-name>
		<url-pattern>/ReimbursementForm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Proj1Controller</servlet-name>
		<url-pattern>/Proj1Controller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomePage</servlet-name>
		<url-pattern>/WelcomePage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateAccount</servlet-name>
		<url-pattern>/ValidateAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidatePopUp</servlet-name>
		<url-pattern>/ValidatePopUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PresentationPage</servlet-name>
		<url-pattern>/PresentationPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PresentationForm</servlet-name>
		<url-pattern>/PresentationForm</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Websites</welcome-file>
	</welcome-file-list>
</web-app>
